.visitOurShop button,
.contactUs button
{
  letter-spacing: 1.5px;
}

.visitOurShop button:hover,
.contactUs button:hover,
.adoptAnimal:hover
{
  color: white;
}

.mainTitle {
  background-color: rgba(140, 140, 140, 0.173);
}

.socialMedia img {
  width: 2rem;
}

.contactMessage {
  resize: none;
}

.animalNameTitle {
  font-size: .8rem;
  opacity: .7;
}
.reducedPrice {
  font-size: .7rem;
}

.lojaCardBanner {
  height: 380px;
}